@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primaryColor: #fff;
  --navColor1: #264653;
  --navColor2: #2a9d8f;
  --navColor3: #e9c46a;
  --navColor4: #f4a261;
  --navColor5: #e76f51;
  --myFont: "Figtree", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: var(--myFont);
}

/* --- Navigation Menu ------------------------------ */

.overlay {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0/ 0.6);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 400ms ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 400ms ease-in-out;
  transform: translateX(-100vw);
}

nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
  position: relative;
}

nav li a {
  position: relative;
  top: 40%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  margin: auto;
  transition: all 300ms ease-in-out;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: "";
  width: 25vw;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

nav li a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 22;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
}

section#home {
  background-image: url("https://images.pexels.com/photos/18477466/pexels-photo-18477466/free-photo-of-ciudad-luces-noche-edificios.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center center;
}

.contrast {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/ 0.5);
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#about {
  background-color: var(--navColor2);
}

section#skills {
  background-color: var(--navColor3);
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}

/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }
}
